<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yousef.rbenoapplication"
    android:installLocation="auto">
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" -->
    <!-- tools:ignore="ScopedStorage" -->
    <!-- /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".GlobalVariables"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".PasswordResetActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6990486336142688~2744133860" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/red" /> <!-- <activity -->
        <!-- android:name=".MessagingActivity" -->
        <!-- android:parentActivityName=".HomeActivity" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <activity
            android:name=".MessagingRealTimeActivity"
            android:parentActivityName=".HomeActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".SliderActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".PasswordActivity" />
        <activity
            android:name=".PromotionActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity" />
        <activity
            android:name=".SigninActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ConnectionActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false" />
        <meta-data
            android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="false" /> <!-- android:name="firebase_messaging_auto_init_enabled" -->
        <!-- android:value="false" /> -->
        <!-- <meta-data -->
        <!-- android:name="firebase_analytics_collection_enabled" -->
        <!-- android:value="false" /> -->
        <!-- <service -->
        <!-- android:name=".MyFirebaseIdService" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <service
            android:name=".MyFirebaseMessaging"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".NotificationDeleteListener" /> <!-- <service -->
        <!-- android:name=".WifiConnectionWorker" -->
        <!-- android:exported="true" -->
        <!-- android:permission="android.permission.BIND_JOB_SERVICE"/> -->
        <!-- <service -->
        <!-- android:name=".WifiConnectionWorker" -->
        <!-- android:exported="true" -->
        <!-- android:permission="android.permission.BIND_JOB_SERVICE"/> -->
        <receiver
            android:name=".WifiReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".PromotionDeleteReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.promoDelete" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ShutdownService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <receiver android:name=".NotificationClickReceiver" />
    </application>

</manifest>